.library-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library-item > .title {
  font-size: 14px;
  color: #fff;
}

.library-item > .title-red {
  color: #ee4950;
}

.library-item > .disc {
  width: 22px;
  height: 22px;
}
